
@import 'bourbon/bourbon';

//Repo icon:
    //<span class="mega-octicon octicon-repo"></span>
//Branch icon:
    //<span class="octicon octicon-git-branch"></span>
//Star icon:
    //<span class="octicon octicon-star"></span>
//Fork icon:
    //<span class="octicon octicon-repo-forked"></span>
//Logo icon:
    //<span class="octicon octicon-mark-github"></span>


header {
  background-color: #f3f3f3;
  background-image: linear-gradient(#f9f9f9, #f3f3f3);
  background-repeat: repeat-x;
  text-shadow: 0 1px 0 #fff;
  border-bottom: 1px solid #e5e5e5;
  min-width: 1000px;
  box-sizing: border-box;
  display: block;
  color: #333333;

}

.octicon-mark-github {
//  float: left;
  width: 24px;
  height: 25px;
  font-size: 25px
}

ul li {
  list-style-type: none;
}

.mega-octicon  {
  float: left;
  margin-left: -45px;
  text-align: center;
  width: 35px;
  color: #bbb;
}

a.repolist-name {
 color: #4183C4;  
 font-size: 20px;
 line-height: 32px;
 margin-top: 0px;
 margin-bottom: 0px;
 white-space: nowrap;}

a:hover {
  text-decoration: underline;
}
/*
body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

.hero-unit {
  margin: 50px auto 0 auto;
  width: 600px;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  background-color: #eee;
  border-radius: 6px;
  padding: 60px;
  h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
  }
}
*/