
@import 'bourbon/bourbon';

$font-stack:    Helvetica, sans-serif;
$primary-color: #4183c4;
$secondary-color: #333333;
// $primary-button: 
// $secondary-button: 



// //* {
//   border: red 1px solid;
// }


body {
  background: #ffffff;
  font-family: $font-stack;
  color: #333333;
}
ul li {
  list-style-type: none;
}
button.primary {
  float: right;
  text-decoration: none;
  background-image: linear-gradient(#8add6d, #60b044);
  background-repeat: repeat-x;
  border-color: #5ca941;
  background-color: #60b044;
  color: #fff;
  font-size: 13px;
  font-weight: normal;
  text-shadow: 0 1px 0 rgba(255,255,255,0.9);
  border-radius: 3px;
  border: 1px solid #5ca941;
  margin-top: 10px;
  margin-left: 15px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 8px;
  padding-bottom: 8px;
}
.octicon-repo.primary {
  color: #fff;
  padding-top:0px;
  margin-top: 0px;
  margin-right: 6px;
}
button.primary:hover {
  text-decoration: none;
  background-image: linear-gradient(#79d858, #569e3d);
  background-repeat: repeat-x;
  border-color: #4a993e;
  background-color: #569e3d;
}
button.secondary {
  float: right;
  text-decoration: none;
  background-image: linear-gradient(#fff, #eee);
  background-repeat: repeat-x;
  border-color: #ccc;
  color: $secondary-color;
  font-size: 13px;
  font-weight: bold;
  text-shadow: 0 1px 0 rgba(255,255,255,0.9);
  border-radius: 3px;
  border: 1px solid #d5d5d5;
  margin-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 4px;
  padding-bottom: 4px;
}
button.secondary:hover {
  text-decoration: none;
  background-image: linear-gradient(#eee, #ddd);
  background-color: #dddddd;
  background-repeat: repeat-x; 
}
button.secondary.tertiary {
  float: left;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-top: 6px;
  margin-left: 6px;
}
.octicon-pencil {
  margin-right: 10px;
}
header { 
  background-color: #f3f3f3;
  background-image: linear-gradient(#f9f9f9, #f3f3f3);
  background-repeat: repeat-x;
  text-shadow: 0 1px 0 #fff;
  border-bottom: 1px solid #e5e5e5;
  min-width: 1000px;
  height: 40px;
  box-sizing: border-box;
  display: block;
  color: $secondary-color;
}
.container {
  width: 980px;
  height: 40px;
  margin-right: auto;
  margin-left: auto;
}
.octicon-mark-github {
  float: left;
  width: 24px;
  height: 25px;
  font-size: 25px;
  padding: 8px 10px 6px;
  margin-left: -10px;
  margin-right: 5px;
  color: #000;
}
.octicon-mark-github:hover {
  color: $primary-color;
  text-decoration: none;
}
.notifications {
  display: block;
  float: left;
  width: 42px;
  height: 100%;
  margin-right: 15px;
  text-align: center;
  line-height: 40px;
  padding-left: 1px;
  border-left: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
  box-shadow: inset 1px 0 0 rgba(255,255,255,0.15),1px 0 0 rgba(255,255,255,0.15);
  text-decoration: none;
}
.octicon-primitive-dot {
  width: 8px;
  height: 8px;
  color: #bbb;
}
.search {
  display: block;
  float: left;
  margin-top: 6px;
  margin-bottom: 6px;
  border-color: #ddd;
  background-color: #fcfcfc;
  box-shadow: 0 1px 0 #fff;
  border: 1px solid #ccc;
  border-radius: 3px;
  vertical-align: middle;
  width: 230px;
  height: 18px;
  padding-bottom: 4px;
  padding-top: 4px;
}
.search.large {
  height: 32px;
  padding: 0px;
  width: 230px;
}
ul.top-nav {
  width: 200px;
  display: block;
  float: left;  
  list-style: none;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 15px;
}
li.top-nav  {
  display: block;
  float: left;
  text-shadow: 0 1px 0 #fff;
  padding-top: 13px;
  padding-right: 15px;
  font-size: 13px;
  font-weight: bold;
  text-decoration: none;
} 
 a.top-nav {
  color: black;
  margin-top: 8px;
  text-decoration: none;
}
a.top-nav.floatleft {
  color: black;
  text-decoration: none;
  font-size: 13px;
  font-weight: bold;
  text-shadow: 0 1px 0 #fff;
  padding-top: 13px;
  padding-right: 15px;
  margin-top: 0px;
}
a.top-nav:hover {
  color: $primary-color;
  text-decoration: none;
} 
a.top-nav.floatleft:hover {
  color: $primary-color;
  text-decoration: none;
} 
.octicon-plus,
.octicon-triangle-down,
.octicon-tools,
.octicon-sign-out {
  padding-top: 13px;
  padding-left: 10px;
}
.octicon-triangle-down {
  padding-top: 15px;
  padding-left: 2px;
  font-size: 10px;
}
#sidebar {
  clear: both;
  float: left;
  padding-left: 10px;
  padding-right: 10px;
  width: 25%;
  color: $secondary-color;
  display: block;
  margin-top: 30px;
}
.stats {
  margin-bottom: 10px;
  margin-top: 25px;
  text-align: center;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  height: 80px;
}
.followers, .starred, .following  {
  width: 79px;
  display: inline-block;
  float: left;
  color: black;
  text-decoration: none;
}
a.followers:hover, 
a.starred:hover, 
a.following:hover { 
  color: $primary-color;
  text-decoration: none;
}
img#avatar {
  height: 230px;
  width: 230px;
  border-radius: 6px;
}
img#avatarThumb {
  height: 20px;
  width: 20px;
  margin: -2px 5px 0 0;
  border-radius: 3px;
  box-shadow: 0 1px 0 #fff;
  display: inline-block;
  padding-top: 12px;
}
.main_body {
  width: 695px;
  float: right;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 20px;
}
#tab1, #tab2, #tab3 {
  width: 130px;
  display: inline-block;
  margin-right: 0px;
  margin-left: 0px;
  padding-left: 10px;
}
#tab1, #tab3 {
  background-color: #fff;

}
#tab2 {
  border-color: #ddd;
  border-top: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-radius: 3px 3px 0 0;
  background-color: #fff;
  margin-bottom: -7px;
}
#tab3 {
  width: 395px;
}
.octicon-diff-added,
.octicon-repo,
.octicon-rss, {
  margin-top: 14px;
}
p,
.octicon-diff-added,
.octicon-rss, {
  font-size: 14px;
  color: #666;
  padding-left: 10px;
}
p#tab2text {
  color: #000;
}
li.repo {
   border-top: 1px solid #eee;
}
ul.tabsubnav {
  padding-left: 0px;
  margin-left: 10px;
}
li.tabsubnav {
  margin-left: 10px;
  display: inline-block;
  float: left;
  font-size: 14px;
  color: #777;
}
a.tabsubnav {
  text-decoration: none;
  color: $primary-color;
}
a.tabsubnav:hover {
  text-decoration: underline;
}
a.tabsubnav.default {
  margin-left: 0px;
  color: #000;
  font-weight: bold;
}
.right {
  float: right;
  //display: inline-block;
}
.floatleft {
  float: left;
}
.left {
  display: inline-block;
}
.tabnav {
  width: 695px;
  height: 50px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 0px;
  margin-top: 0px;
  //background-color: red;
}
.filter-bar {
  width: 695px;
  height: 50px;
  //background-color: blue; 
}
.mega-octicon  {
  float: left;
  margin-left: -45px;
  text-align: center;
  width: 35px;
  color: #bbb;
}
.octicon-location, 
.octicon-mail, 
.octicon-link, 
.octicon-clock {
  float: left;
  width: 16px;
  text-align: center;
  margin-right: 10px;
  color: #ccc;
  font-size: 16px;
}
a.email, a.blog {
  color: $primary-color;
  text-decoration: none;
}
a.repolist-name {
 color: $primary-color;  
 font-size: 20px;
 font-weight: bold;
 line-height: 32px;
 margin-top: 0px;
 margin-bottom: 0px;
 white-space: nowrap;
}
a:hover {
  text-decoration: underline;
}
.octicon-star, 
.octicon-git-branch {
  font-size: 13px;
  font-weight: bold;
  margin-right: 10px;
}
h1 {
  margin-bottom: 0px;
  margin-top: 5px;
  line-height: 1;
  font-size: 28px;
}
h2 {
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px;
  color: #666;
  margin-top: 5px;
  margin-bottom: 20px;
  padding-bottom: 15px;
  border-bottom: 1px solid #eee;
}
h3 {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 0px;
  margin-top: 15px;
}
h4 {
  font-weight: normal;
  font-size: 13px;
  margin-top: 5px;
  margin-bottom: 5px;
}
h5 {
  font-size: 11px;
  font-weight: bold;
  line-height: 20px;
  color: #666;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 10px;
}

h6 {
  font-size: 11px;
  color: #999;
  margin-top: 0px;
  font-weight: normal;
}
footer {
  position: relative;
  margin-top: 40px;
  padding-top: 40px;
  padding-bottom: 40px;
  font-size: 12px;
  line-height: 1.5;
  color: #777;
  border-top: 1px solid #eee;
  clear: both;
  width: 980px;
  margin-right: auto;
  margin-left: auto;
}
ul.foot {
  padding-left: 0px;
}
li.foot {
  margin-left: 10px;
  display: inline-block;
  float: left;
  font-size: 12px;
  color: #777;
}
li.foot.static {
  margin-left: 0px;
}
a.foot {
  text-decoration: none;
  color: $primary-color;
}
a.foot:hover {
  text-decoration: underline;
}
.octicon-mark-github.foot {
  position: absolute;
  top: 38px;
  left: 50%;
  height: 24px;
  width: 24px;
  margin-left: -12px;
  font-size: 24px;
  color: #ccc;
  display: inline-block;
  text-decoration: none;
}
.octicon-mark-github.foot:hover {
  color: #aaa;
}
