<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
    <title>github_api</title>
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="../bower_components/normalize-css/normalize.css" />
    <!-- endbower -->
    <!-- endbuild -->
    
    <link rel="stylesheet" href="fonts/octicons/octicons.css">

    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->

    <!-- build:js scripts/vendor/modernizr.js -->
    <script src="../bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->
  </head>

<body>


<div class="wrapper">
    <header>
        <div class="container">
            <a href="#"><span class="octicon octicon-mark-github"></span></a>
            <div class="notifications"><span class="octicon octicon-primitive-dot"></span></div>
            <div class="search"></div>
            
            <ul class="top-nav">
                <li class="top-nav"><a href="#" class="top-nav">Explore</a></li>
                <li class="top-nav"><a href="#" class="top-nav">Gist</a></li>
                <li class="top-nav"><a href="#" class="top-nav">Blog</a></li>
                <li class="top-nav"><a href="#" class="top-nav">Help</a></li>
            </ul>
            <div class="right">
                <div id="header" class="floatleft"></div>
                    <script type="text/template" id="header_template">
                        <img src="<%= avatar_url %>" alt="<%= name %>" id="avatarThumb" class="floatleft" />
                        <a href="#" class="floatleft top-nav"><%= login %></a>
                    </script> 
                
                <div class="floatleft"><span class="octicon octicon-plus"></span></div>
                <div class="floatleft"><span class="octicon octicon-triangle-down"></span></div>
                <div class="floatleft"><span class="octicon octicon-tools"></span></div>
                <div class="floatleft"><span class="octicon octicon-sign-out"></span></div>


            </div>
           



        </div><!--End container-->
    </header>

    <div class="container">
        <div id="sidebar">
     
            <script type="text/template" id="sidebar_template">
                <img src="<%= avatar_url %>" alt="<%= name %>" id="avatar" />
                <h1><%= name %></h1>
                <h2><%= login %></h2>
                <div class="contacts">
                    <div class="location">
                        <span class="octicon octicon-location"></span>
                        <h4><%= location %></h4>
                    </div>
                    <div class="email">
                        <span class="octicon octicon-mail"></span>
                        <h4><a href="#" class="email"><%= email %></a></h4>
                    </div>
                    <div class="blog">
                        <span class="octicon octicon-link"></span>
                        <h4><a href="#" class="blog"><%= blog %></a></h4>
                    </div>
                        <div class="created_at">
                        <span class="octicon octicon-clock"></span>
                        <h4><%= created_at %></h4>
                    </div>
                </div>

                <div class="stats">
                    <div class="followers">
                        <a href="#" class="followers"><h3><%= followers %></h3></a>
                        <a href="#" class="followers"><h6>Followers</h6></a>
                    </div>
                    <div class="starred">
                        <a href="#" class="starred"><h3>10</h3></a>
                        <a href="#" class="starred"><h6>Starred</h6></a>
                    </div>
                    <div class="following">
                        <a href="#" class="following"><h3><%= following %></h3></a>
                        <a href="#" class="following"><h6>Following</h6></a>
                    </div>
                </div>
            </script>
                
        </div><!-- End sidebar............................ -->


        <div class="main_body">
            
            <div class="tabnav">
                <div id="tab1">
                    <div class="floatleft"><span class="octicon octicon-diff-added"></span></div>
                    <div class="floatleft"><p>Contributions</p></div>
                </div>
                <div id="tab2">
                    <div class="floatleft"><span class="octicon octicon-repo"></span></div>
                    <div class="floatleft"><p id="tab2text">Repositories</p></div>
                </div>
                <div id="tab3">
                    <div class="floatleft"><span class="octicon octicon-rss"></span></div>
                    <div class="floatleft"><p>Public activity</p></div>
                    <button class="secondary"><span class="octicon octicon-pencil"></span>Edit profile</button>
                </div>
            </div><!--End tabnav-->

            <div class="filter-bar">
                <div class="search large"></div>
                <button class="secondary tertiary">Search</button>
                <ul class="tabsubnav left">
                    <li class="tabsubnav"><a class="tabsubnav default" href="#">All</a></li>
                    <li class="tabsubnav"><a class="tabsubnav" href="#">Public</a></li>
                    <li class="tabsubnav"><a class="tabsubnav" href="#">Private</a></li>
                    <li class="tabsubnav"><a class="tabsubnav" href="#">Sources</a></li>
                    <li class="tabsubnav"><a class="tabsubnav" href="#">Forks</a></li>
                    <li class="tabsubnav"><a class="tabsubnav" href="#">Mirrors</a></li>
                </ul>
            
            </div><!--End filter-bar-->
        


           <ul id="main"></ul>
            <script type="text/template" id="main_template">
                        <li class="repo">
                            <div class="left">
                                <span class="mega-octicon octicon-repo"></span>
                                <a class="repolist-name"><%= name %></a>
                                <h4><%= description %></h4>
                                <h6>Last updated <%= updated_at %> days ago</h6> 
                            </div>
                            <div class="right">
                                <h5 class="floatleft"><%= language %></h5>
                                <h5 class="floatleft"><span class="octicon octicon-star"><%= stargazers_count %></h5>
                                <h5 class="floatleft"><span class="octicon octicon-git-branch"><%= forks_count %></h5>
                            </div>
                        </li> 
            </script>
            
           


        </div><!--End main_body -->
    

    </div><!-- END container -->

    
          
    
 
    
</div><!-- END wrapper -->



<footer>
    <ul class="foot right">
      <li class="foot"><a class="foot" href="#">Status</a></li>
      <li class="foot"><a class="foot" href="#">API</a></li>
      <li class="foot"><a class="foot" href="#">Training</a></li>
      <li class="foot"><a class="foot" href="#">Shop</a></li>
      <li class="foot"><a class="foot" href="#">Blog</a></li>
      <li class="foot"><a class="foot" href="#">About</a></li>

    </ul>

    <a href="#">
      <span class="mega-octicon octicon-mark-github foot" title="GitHub"></span>
    </a>

    <ul class="foot left">
        <li class="foot static">© 2014 GitHub Inc.</li>
        <li class="foot"><a class="foot" href="#">Terms</a></li>
        <li class="foot"><a class="foot" href="#">Privacy</a></li>
        <li class="foot"><a class="foot" href="#">Security</a></li>
        <li class="foot"><a class="foot" href="#">Contact</a></li>
    </ul>


</footer>
    <!--NO LONGER LINKING TO LOCAL DATA
    <script src="scripts/payload_acct.js"></script>
    <script src="scripts/payload_repo.js"></script>
    -->

    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="../bower_components/jquery/dist/jquery.js"></script>
    <script src="../bower_components/underscore/underscore.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <script src="scripts/secret.js"></script>

        <!-- build:js scripts/main.js -->
        <script src="scripts/main.js"></script>
        <!-- endbuild -->
</body>
</html>
